.remove-file {
    position: absolute;
    top: 0;
}

.tabslink{
    background: none !important;
}

.language_table tbody {
    display: block;
    max-height: 450px;
    overflow-y: scroll;
}
 
.language_table thead, .language_table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.iq-navbar .language-menu ul {
    max-height: 350px;
    overflow: auto;
}

.selected-lang {
    height: 30px !important;
    min-width: 30px !important;
    width: 30px !important;
}
.selected-lang-list {
    width: 20px;
    height: auto;
    min-width: 15px;
}

.select2-container--default .select2-search--inline .select2-search__field{
    line-height: normal !important;
}

.attachment-image {
    height: 80px;
    width: 80%;
}
.nav-payment-tabs {
    border-bottom: 1px solid #dee2e6;
}

/* Style for the tabs */
.nav-payment-tabs .nav-item {
    margin-bottom: -1px;
}

.nav-payment-tabs .nav-link {
    border: none;
    padding: 0.5rem 1rem;
    transition: 0.3s;
    color: #111010;  /* Default text color to black */
}
.dark .nav-payment-tabs .nav-link {
    border: none;
    padding: 0.5rem 1rem;
    transition: 0.3s;
    color: #fff;  /* Default text color to white */
}
/* Change the text color for hover state (optional) */
.nav-payment-tabs .nav-link:hover {
    color: var(--bs-primary);
}

.nav-payment-tabs .nav-link.active {
    background-color: transparent;
    position: relative;
    color: var(--bs-primary);  /* Active link text color is primary */
}

.nav-payment-tabs .nav-link.active:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--bs-primary);
}
.dashboard_table_list { 
    border-top: 1px solid #FBE5DB; 
}
.auth-logo img {
    height: 8rem;
    margin-right: 12px;
  }
.mm-login-shapes-logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.mode-icons {
    display: none;
}
.mode-icons.light-mode {
    display: block;
}
.dark .mode-icons.light-mode {
    display: none;
}
.dark .mode-icons.dark-mode {
    display: block;
}


.assign-profile-max-height {
    max-height: 400px;
}


.dark .swal2-icon.swal2-success .swal2-success-circular-line-left,
.dark .swal2-icon.swal2-success .swal2-success-circular-line-right,
.dark .swal2-icon.swal2-success .swal2-success-fix{
   background-color: transparent !important;
}

/* START BULK IMPORT DATA */

.is-default-row td {
    color: black !important
}
  
.no-items{
    color: black;
}

.help {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 70px;
    background-color: #fdede4;
    color: #f16a1b !important;
    outline: none !important;
    font-weight:bold;
    border-radius: 10px;
}

.downloadtemplate {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 190px;
    background-color: #fdede4;
    color: #f16a1b !important;
    outline: none !important;
    font-weight:bold;
    border-radius: 10px;
}
  
/* Drop file */
  
.blue-text {
    background-color: #f16a1b;
    color: white;
    border: none;
    padding: 11px 11px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}
  
.underline {
    text-decoration: underline;
}
  
.drop-field {
    position: relative;
    text-align: center;
    vertical-align: middle;
}
  
.drop-field,
.drop-area {
    height: 210px;
}
  
.drop-field .browse {
    z-index: 0;
    position: absolute;
    left: 0;
    bottom: 30px;
    right: 0;
    margin: 0 auto;
}
  
.drop-field .drop-area {
    display: block;
    border: 1px dashed #f16a1b;
    position: relative;
    border-radius: 10px;
    background-color: #fdede4;
}
  
.drop-field,
.drop-area,
.drop-field .browse {
    transition: all 0.3s;
}
  
.drop-field.loaded .drop-area {
    border:  1px dashed #f16a1b;
}
  
.drop-field .browse {
    opacity: 0;
    transform: translateY(100%);
}
  
.drop-field.loaded .browse {
    opacity: 1;
    transform: translateY(0);
}
  
.drop-field.hover .drop-area {
    border: 1px solid black;
}
  
.drop-field .drop-area input[type="file"] {
    height: 100%;
    width: 100%;
    position: absolute;
    display: block;
    z-index: 3;
    top: 0;
    left: 0;
    opacity: 0.000001;
}
  
.drop-field .file-list {
    position: absolute;
    z-index: 0;
    top: 80px;
    left: 0;
    right: 44px;
    text-align: center;
}
  
.drop-field .remove {
    position: absolute;
    left: 20px;
    top: 60px;
    z-index: 4;
    transition: all 0.3s;
    opacity: 0;
    transform: translateY(-100%);
    cursor: pointer;
    right: 20px;
}
  
.drop-field .remove:hover {
  color: #f16a1b;
}
  
.drop-field.loaded .remove {
    opacity: 1;
    transform: translateY(0);
}
  
.drop-field ul li {
    padding: 0;
    text-align: center;
    list-style: none;
}
/* END BULK IMPORT DATA */
  
.select2-selection.select2-selection--single {
    padding-right: 15px !important;
}

/* Style the buttons */
.list-grid-btn {
    border: none;
    outline: none;
    padding: 5px 15px;
    background-color: #f1f1f1;
    cursor: pointer;
    color: black;
  }
  
  .list-grid-btn:hover {
    background-color: #ddd;
  }
  
  .list-grid-btn.active {
    background-color: #171824;
    color: white;
  }
  .grid-responsive{
    padding: 25px;
  }
  .grid-responsive .card{
    background: #252b3b;
    border-radius: 5px;
    border: 1px solid #30384f;
  }
  .grid-responsive .card .card-header, 
  .grid-responsive .card .card-footer{
    background-color: #252b3b;
    padding: 15px;
  }
  .grid-responsive .card .card-body{
    padding: 15px;
  }
  .grid-responsive .card .card-body .details{
    color: white;
  }
  #searchGridBox{
    width: 245px;
  }



  

.grid-responsive .images-box{
    width: 100%;
    max-height: 350px;
    height: 100%;
    min-height: 290px;
}
.grid-responsive .images-box .swiper-button-next:after, 
.grid-responsive .images-box .swiper-button-prev:after{
    font-size: 20px;
}

.grid-responsive .images-box .swiper {
    width: 100%;
    height: 100%;
}

.grid-responsive .images-box .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-responsive .images-box   .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.grid-responsive .images-box   .swiper-slide {
    background-size: cover;
    background-position: center;
}

.grid-responsive .images-box .hpSwiper2 {
    height: 80%;
    width: 100%;
  }

.grid-responsive .images-box .hpSwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.grid-responsive .images-box .hpSwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.grid-responsive .images-box .hpSwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.grid-responsive .images-box .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 200px;
}
.grid-responsive .images-box .swiper-slide video {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 200px;
    object-fit: cover;
}

.grid-responsive .images-box .hpSwiper-small .swiper-slide img{
    height: 70px;
}
.grid-responsive .images-box .hpSwiper-small .swiper-slide video {
    height: 70px;
}



.grid-view.loading .content {
    display: none;
  }
  
  /* Show overlay when loading */
  .grid-view.loading .loader-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(34 39 56 / 58%); /* semi-transparent white */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  /* Hide overlay by default */
  .grid-view .loader-overlay {
    display: none;
  }
  
  /* Spinner style */
  .grid-view .spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
  
  /* Spin animation */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }